   <div class="footer-line">
   </div>
   <!-- footer section start  -->
   <section class="footer">
    <div class="box-container">

        <div class="box">
            <a href="#" class="logo">Vhati Groceries</a>
            <p>Authorized dealers in a conventional brick and mortar shop strictly use the official price tags on their watches. However, there should always be room to negotiate about the price</p>
         </div>

         <div class="box">
           <h3>links</h3>
           <a href="#">home</a>
           <a href="#">arrival</a>
           <a href="#">featured</a>
           <a href="#">gallery</a>
           <a href="#">deal</a>
         </div>

         <div class="box">
             <h3>contact us</h3>
             <p> <i class="fa fa-home"></i>
                gothatar,kathmandu
                nepal - 7778878
            </p>
            <p><i class="fa fa-phone"></i>
                +977-9860231760
            </p>
            <p><i class="fa fa-envelope"></i>
                vhatigroceries@gmail.com 
            </p>
         </div>

    </div>
    <h1 class="credit">Design By <span>Hamro Group's</span></h1>
</section>


    <!-- footer section end  -->