{% extends "base.html" %}


{% block extra_head %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root{
    --blue:#2980b9;
}
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-beizer(0.37,1.14,0.26,1.24);
}
*::selection{
    background: #ff3300;
     color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.btns{
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.btns:hover{
    letter-spacing: .2rem;
    opacity: .8;
}
.heading{
    padding-top: 5rem;
    width: 95%;
    border-bottom: 0.2rem solid rgba(0,0,0,0.3);
    margin: 0 auto;
}
.heading span{
    font-size: 2rem;
    padding: 1rem 6rem;
    color: #fff;
    background:var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}

.gallery{
    min-height: 100vh;
}
.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    list-style: none;
}
.gallery .controls .btns{
    margin: 2rem;
    line-height: 4rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}
.gallery .controls .btns.button-active{
    background: #333;
}
.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    border: 0.1rem solid rgba(0,0,0,0.3);
    flex:min-content;
    flex-grow: 0;
    flex-shrink: 0;
    
}
.gallery .image-container .box .image{
    height: 12rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background: #f0f0f0;
}
.gallery .image-container .box .image img{
    height: 100%;
    object-fit: cover;
}
.gallery .image-container .box:hover .image{
    background: #ccc;
}
.gallery .image-container .box .info{
    width: 100%;
}
.gallery .image-container .box .info h3{
    font-size: 2rem;
    color: var(--blue);
    padding: 1rem;
}
.gallery .image-container .box .info .subinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.1rem solid rgba(0,0,0,0.3);
    padding: 1rem;
}
.gallery .image-container .box .info .subinfo .price{
    color: #ff3300;
    font-size: 2rem;
}
.gallery .image-container .box .info .subinfo .stars i{
    color: orange;
    font-size: 1.5rem;
}
</style>
{% endblock extra_head %}






{% block content %}









<section class="gallery" id="gallery">
  <h1 class="heading"><span>product gallery</span></h1>
  <ul class="controls">
      <li class="btns button-active" data-filter="all">all</li>
      <li class="btns" data-filter="Shirt">Shirt</li>
      <li class="btns" data-filter="Outwear">Outwear</li>
      <li class="btns" data-filter="headphone">headphone</li>
      <li class="btns" data-filter="shoes">shoes</li>
  </ul>
  <div class="image-container">
  
        {% for item in object_list %}
      <div class="box {{ item.get_category_display }}">
          <div class="image">
            <a href="{{ item.get_absolute_url }}">

              <img src="{{ item.image.url }}" alt="">
              </a>
          </div>
          <div class="info">
            <div style="display: flex;"><a href="{{ item.get_absolute_url }}">

              <h3>{{ item.title }}</h3>

              </a>
              <a href="{{ item.get_absolute_url }}">
              <span class="badge purple ml-3" style="display:inline-flex;">{{ item.get_category_display }}</span>

              </a>

            </div>
           

              <div class="subinfo">
                  <strong class="price">Rs. {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                    {{ item.price }}
                    {% endif %}/-</strong>
                  <div class="stars">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star-half"></i>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      </div>
  <!--Pagination-->
  {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
            {% endif %}

        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

{% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
    {% endif %}
      </ul>
    </nav>
  {% endif %}

    <!--Pagination-->

  
      
      
  


</section>




















  




{% endblock content %}
{% block script %}
<script>
// $(document).ready(function(){

$('.gallery .btns').click(function(){
  let filter = $(this).attr('data-filter');
  if(filter=='all'){
      $('.gallery .box').show(400);
  }else{
      $('.gallery .box').not('.'+filter).hide(200);
      $('.gallery .box').filter('.'+filter).show(200);
  }
  $(this).addClass('button-active').siblings().removeClass('button-active');
})

// });
</script>

{% endblock script %}
















